<!-- ============================================================== -->
<!-- Sales chart -->
<!-- ============================================================== -->
<div class="row">
    <div class="col-12">
        <!-- Row -->
        <div class="row">
        <!-- column -->
        <div class="col-lg-3 col-md-6">
            <!-- Card -->
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="assets/images/cards/mail.png" class="card-img" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h4 class="card-title">Total emails envoyés</h4>
                            <p class="card-text">Show here... TODO</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Card -->
        </div>
        <!-- column -->
        <!--column -->

        <div class="col-lg-3 col-md-6">

            <!-- Card -->
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="assets/images/cards/communications.png" class="card-img">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h4 class="card-title">Contacts bloqués</h4>
                            <p class="card-text">Show here TO DO...</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Card -->
        </div>
        <!-- column -->
        <!-- column -->
        <div class="col-lg-3 col-md-6">
            <!-- Card -->
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="assets/images/cards/hired.png" class="card-img" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h4 class="card-title">Nombre total des contacts</h4>
                            <p class="card-text">Show here TODO ... </p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Card -->
        </div>
        <!-- column -->
        <!--column -->

        <div class="col-lg-3 col-md-6">

            <!-- Card -->
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="assets/images/cards/opened.png" class="card-img">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h4 class="card-title">Emails consultés</h4>
                            <p class="card-text">Show here TO DO...</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- column -->

            <!-- Row -->
        </div>
    </div>
    </div>
</div>
